<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @post_training.user.name, user_path(@post_training.user) %>
</p>

<p>
  <strong>Note:</strong>
  <%= @post_training.note %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @post_training.exercise %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @post_training.weight %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @post_training.rep %>
</p>

<p>
  <strong>Bodyweight:</strong>
  <%= @post_training.bodyweight %>
</p>


<p>いいね件数: <%= @post_training.favorites.count %></p>
<% if current_user.already_favorited?(@post_training) %>
  <%= button_to 'いいねを取り消す', post_training_favorite_path(@post_training), method: :delete %>
<% else %>
  <%= button_to 'いいね', post_training_favorites_path(@post_training) %>
<% end %>

<p>いいねしたユーザー</p>
<% @post_training.favorited_users.each do |user| %>
  <li><%= link_to user.name, user_path(user) %></li>
<% end %>

<%= link_to 'コメントする', new_post_training_comment_path(post_training_id: @post_training.id) %>

<p>コメント一覧</p>
<% @comments.each do |comment| %>
  <div>
    <%= comment.user.name %><br />
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to '編集', edit_post_training_comment_path(post_training_id: @post_training.id) %>
      <%= link_to '削除', post_training_comment_path(post_training_id: @post_training.id), method: :delete %>
    <% end %>
  </div>
<% end %>


<%= link_to 'Edit', edit_post_training_path(@post_training) %> |
<%= link_to 'Back', post_trainings_path %>
