<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post_training.user_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @post_training.note %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @post_training.exercise %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @post_training.weight %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @post_training.rep %>
</p>

<p>
  <strong>Bodyweight:</strong>
  <%= @post_training.bodyweight %>
</p>

<%= link_to 'Edit', edit_post_training_path(@post_training) %> |
<%= link_to 'Back', post_trainings_path %>
