<!DOCTYPE html>
<html>
  <head>
    <title>Toretomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
    <header>
      <nav class="navbar navbar-fixed-top" style="background-color: #232f3e;list-style: none; overflow: hidden;;">
        <div class="container relative">
          <div class="row">
            <ul class="nav justify-content-center" style="float: left;">
              <% if user_signed_in? %>
                <li style="margin:0 10px; text-align: center; float: left;">
                  <h3 style="color: white; font-size: 15px;">ようこそ、<%= current_user.name %>さん!</h3>
                </li>
                <li class="nav-item" style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'Toretomoとは', about_homes_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li class="nav-item" style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'トレ記録投稿', new_post_training_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li class="nav-item" style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'マイページ', user_path(current_user), class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li class="nav-item" style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'ユーザー検索', users_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li class="nav-item" style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
              <% else %>
              <li style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'Toretomoとは', about_homes_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'トレ記録一覧', post_trainings_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px; text-align: center; float: left;">
                  <%= link_to '新規登録', new_user_registration_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px; text-align: center; float: left;">
                  <%= link_to 'ログイン', new_user_session_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
