<!DOCTYPE html>
<html>
  <head>
    <title>Toretomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-fixed-top" style="background-color: #232f3e;">
        <div class="container relative">
          <div class="row">
            <table class="nav navbar-nav navbar-left">
              <tr>
                <td>
                  <style>
                    /*カーソルを乗せた時に、underlineが出るのをなくす*/
                    .logo-click:hover {
                      text-decoration: none;
                      background-color: #232f3e;
                    }
                    /*クリック時に、ボタンが凹んだように見せる*/
                    .logo-click:active {
                      -webkit-transform: translateY(4px);
                      transform: translateY(4px);/*下に動く*/
                      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
                      border-bottom: none;
                    }
                    /*カーソルを乗せた時に、underlineが出るのをなくす*/
                    .btn:hover {
                      text-decoration: none;
                      background-color: #232f3e;
                    }
                    /*クリック時に、ボタンが凹んだように見せる*/
                    .btn:active {
                      -webkit-transform: translateY(4px);
                      transform: translateY(4px);/*下に動く*/
                      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
                      border-bottom: none;
                    }
                  </style>
                </td>
              </tr>
            </table>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li style="margin: 10px;">
                  <h3 style="color: white; font-size: 15px;">ようこそ、<%= current_user.name %>!</h3>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'Toretomoとは', about_homes_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'トレ記録投稿', new_post_training_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'マイページ', user_path(current_user), class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'ユーザー検索', users_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
              <% else %>
              <li style="margin: 10px;">
                  <%= link_to 'Toretomoとは', about_homes_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'トレ記録一覧', post_trainings_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to '新規登録', new_user_registration_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
                <li style="margin: 10px;">
                  <%= link_to 'ログイン', new_user_session_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 10px;" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
